.chat-container {
  margin-top: 60px;
}
.chat-container h1 {
  color: white;
  -webkit-text-stroke: 1px black;
}
.chat-container .chat-box {
  padding: 20px;
  min-height: 300px;
  border: 2px solid #b6bdc1;
}
.aldo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.aldo img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 25px;
}
.aldo-info span {
  color: #cccccc;
}
.messages {
  display: flex;
  flex-direction: column;
}
.messages .messagge {
  padding: 10px;
}
.messages .response-aldo {
  background-color: #e6f7ff;
  border-radius: 5px;
  min-width: 250px;
  align-self: flex-start;
  position: relative;
}
.response-aldo::after{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e6f7ff;
  bottom: 89%;
  right: 80%;
  content: '';
  transform: rotate(45deg);
}
.request-container {
  padding: 25px;
  background-color: #cccccc;
  border: none;
}
.request-details{
  display: flex;
  justify-content: space-between;
}
.request-details input{
  flex-grow: 1;
}
::placeholder {
  color: #cccccc;
}
.request-container input {
  border: none;
  width: 400px;
  padding: 15px;
  outline: none;
}
.request-container button {
  background-color: #e6f7ff;
  border: none;
  font-family: "Source Code Pro", monospace;
  padding: 15px;
}

.user-question {
  margin: 10px 0;
  padding: 10px;
  background-color: #cccccc;
  border-radius: 5px;
  align-self: flex-end;
  text-align: right;
  min-width: 250px;
  position: relative;
}
.user-question::after{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #cccccc;
  bottom: 89%;
  left: 85%;
  content: '';
  transform: rotate(45deg);
}
